<div class="gamegrid">
  <div class="{{ tileClass00 }}" (click)="onGridClick(0, 0)">
    Battlefield Earth
  </div>
  <div class="{{ tileClass01 }}" (click)="onGridClick(0, 1)">
    Howard the Duck
  </div>
  <div class="{{ tileClass02 }}" (click)="onGridClick(0, 2)">
    Batman and Robin
  </div>

  <div class="{{ tileClass10 }}" (click)="onGridClick(1, 0)">Catwoman</div>
  <div class="{{ tileClass11 }}" (click)="onGridClick(1, 1)">Jack and Jill</div>
  <div class="{{ tileClass12 }}" (click)="onGridClick(1, 2)">Cats</div>

  <div class="{{ tileClass20 }}" (click)="onGridClick(2, 0)">
    Wing Commander
  </div>
  <div class="{{ tileClass21 }}" (click)="onGridClick(2, 1)">
    Dudley Do-Right
  </div>
  <div class="{{ tileClass22 }}" (click)="onGridClick(2, 2)">Twilight</div>
</div>
